.button {
    background-color: pink; // rurzowy
}

#ola {
    background-color: green;
}

#ala {
    background-color: red;
}

#ela {
    background-color: brown;
}

#ula {
    background-color: violet;
}
